<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
</head>
<body>
<div style="margin:0 auto;text-align: center; color: black">
<p>client timezone <%= timeZone %></p>
<p>Newyork Time <%= usaTime %></p>

</div>
</body>

</html>