<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
</head>
<body>
<div style="margin:0 auto;text-align: center; color: black">
<p> The current time in my web browser is : <%= utils.currentLocalDateString() %></p>
</div>
</body>
</html>